#jumbotron {
  background-color: #e2edff;
  /* padding-top: 5rem; */
  text-align: center;
}
#pendidikan {
  background-color: #e2edff;
}
#contact {
  background-color: #e2edff;
}
section {
  padding-top: 4rem;
}
footer {
  background-color: #0099ff;
}
footer a {
  text-decoration: none;
}
